<div class="home-div">
  <div class="base-div">
    <div>
      <div>
        <button mat-icon-button class="create-new-btn" disableRipple (click)="onCreateNewOrga()">
          <mat-icon class="create-new-icon">note_add</mat-icon>
        </button>
      </div>
      <p class="create-new-btn-text-orga">Partner erstellen</p>
    </div>
    <div>
      <div>
        <button mat-icon-button class="create-new-btn" disableRipple (click)="onOpenPartnerCenter()">
          <mat-icon class="create-new-icon">business</mat-icon>
        </button>
      </div>
      <p class="create-new-btn-text-partner">Partner Center</p>
    </div>
  </div>
</div>
