.back-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #D3D3D3;
  margin: 10px 0px 0px 10px;
  color: black;
  -webkit-box-shadow: 3px 3px 7px #797979, -3px -3px 9px #d1d1d1;
  box-shadow: 3px 3px 7px #828282, -3px -3px 9px #d1d1d1;
}

.back-button:active {
  box-shadow: inset 3px 3px 7px #636363,
  inset -3px -3px 7px #d1d1d1;
}

.back-icon {
  transform: scale(1.2);
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8px;
}

.back-icon {
  transform: scale(0.6);
}

.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #e7e7e7ad;
  margin: 10px 0px 0px 10px;
  color: black;
  -webkit-box-shadow: 3px 3px 7px #797979, -3px -3px 9px #d1d1d1;
  box-shadow: 3px 3px 7px #828282, -3px -3px 9px #d1d1d1;
}

.edit-button:active {
  box-shadow: inset 3px 3px 7px #636363,
  inset -3px -3px 7px #d1d1d1;
}

.edit-icon {
  transform: scale(1.2);
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8px;
}

.edit-icon {
  transform: scale(0.6);
}

.sidenav-partner {
  padding: 20px;
  width: 250px;
  height: 100%;
  background-color: #e7e7e7ad;
  margin-right: 35px;
  border-radius: 20px;
  box-shadow: 4px 6px 13px 3px rgba(0, 0, 0, 0.23);
}


.home-partner {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7ad;
  margin-right: 50px;
  border-radius: 20px;
  box-shadow: 4px 6px 13px 3px rgba(0, 0, 0, 0.23);
}

.sidenav-partner h2 {
  color: #97A7C3;
  margin-bottom: -5px;
  font-weight: 400;
  font-size: 25px;
}

.sidenav-partner hr {
  color: #97A7C3;
  margin-top: 0;
}

.sidenav-partner mat-list-item {
  margin-bottom: 0;
}

.sidenav-partner mat-icon {
  position: absolute;
  right: 0;
}
