$qb-mainpurplepalette: (
  50 : #f3e7fd,
  100 : #e0c2fb,
  200 : #cc9af8,
  300 : #b872f5,
  400 : #a853f2,
  500 : #9935f0,
  600 : #9130ee,
  700 : #8628ec,
  800 : #7c22e9,
  900 : #6b16e5,
  A100 : #ffffff,
  A200 : #ede2ff,
  A400 : #cdafff,
  A700 : #bd96ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$qb-accentcolorbluepalette: (
  50 : #e6edfb,
  100 : #bfd2f6,
  200 : #95b5f0,
  300 : #6b97e9,
  400 : #4b80e5,
  500 : #2b6ae0,
  600 : #2662dc,
  700 : #2057d8,
  800 : #1a4dd3,
  900 : #103ccb,
  A100 : #f9faff,
  A200 : #c6d1ff,
  A400 : #93a8ff,
  A700 : #7a94ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$qb-secondaccentpalette: (
  50 : #e7fdf8,
  100 : #c2fbed,
  200 : #9af8e2,
  300 : #71f5d6,
  400 : #52f2cd,
  500 : #34f0c4,
  600 : #2feebe,
  700 : #27ecb6,
  800 : #21e9af,
  900 : #15e5a2,
  A100 : #ffffff,
  A200 : #e1fff5,
  A400 : #aeffe3,
  A700 : #95ffda,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$qb-thirdaccentcolorpalette: (
  50 : #eafafe,
  100 : #cbf3fe,
  200 : #a9ebfd,
  300 : #86e2fc,
  400 : #6cdcfb,
  500 : #52d6fa,
  600 : #4bd1f9,
  700 : #41ccf9,
  800 : #38c6f8,
  900 : #28bcf6,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #cdf0ff,
  A700 : #b3e8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$qb-fourthaccentcolorpalette: (
  50 : #edecfe,
  100 : #d3cffe,
  200 : #b6affd,
  300 : #988ffc,
  400 : #8277fb,
  500 : #6c5ffa,
  600 : #6457f9,
  700 : #594df9,
  800 : #4f43f8,
  900 : #3d32f6,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #d6d4ff,
  A700 : #bebbff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
